header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3%;
}

.navlogo {
  margin-right: auto;
  cursor: pointer;
  color: #83818c;
  font-size: 32px;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #83818c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom: 3px solid rgb(230, 174, 70);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  color: rgb(228, 148, 74);
}

nav a.active {
  border-bottom: 3px rgb(230, 174, 70);
}
