.arenaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.arenaAction {
  padding: 30px;
  border: 2px dashed #cacaca;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arenaPara {
  background-color: #fafafa;
  overflow-y: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: #2a2a2a;
  border: 3px solid whitesmoke;
  padding: 10px;
}

.arenaTimeRemaining {
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.arenaInput {
  margin-top: 20px;
  width: 100%;
  outline: none;
  font-size: 1.2em;
  border-radius: 5px;
  border: 3px solid whitesmoke;
  padding: 10px;
}

.arenaInput.incorrect {
  background-color: rgba(255, 7, 58, 0.6);
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: rgba(255, 7, 58, 0.6);
}

.current {
  background-color: #514b4b40;
}

.incorrect.current {
  background-color: rgba(255, 7, 58, 0.6);
}

.untyped {
  color: 'gray';
}
