.readybtn {
  position: absolute;
  left: 43%;
  top: 40%;
  width: 15%;
  height: 5%;
  border-radius: 20px !important;
  background-color: lightskyblue !important;
  border: none !important;
  color: black !important;
  font-family: monospace;
  font-size: 20px !important;
}

.strictMode {
  width: 50%;
  position: relative;
  left: 20%;
  text-align: left;
}

.easyMode {
  width: 50%;
  position: relative;
  left: 60%;
  bottom: 9rem;
  text-align: left;
}
