.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 248, 250);
  padding: 45px;
}

.title {
  color: #656565;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.cards {
  display: flex;
  max-width: 927px;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
