.dashboardChart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardLineChart {
  display: flex;
  justify-content: center;
}

.dasboardChartControls {
  display: flex;
  justify-content: flex-end;
}
